/*Colors used:
Primary Color (emerald): rgba(20,160,152,1) #14A098;
Primary Color shade (emerald light): 1ACCC2
Primary Color shade (emerald super light): D2F9F7
Primary Color shade (emerald dark): rgba(11,91,86) #0B5B56
Secondary Color (fuchsia): rgba(203,45,111,1) #4CB2D6F
Secondary Color shade (dark-fuchsia): rgba(80,31,49,1) #501F31
Tertiary Color (darkness): rgba(15,41,47,1) #0F292F;
Grey: rgba(204,204,204,1) #cccccc
White: rgba(255,255,255,1) #ffffff
Black: rgba(0,0,0,1) #000000
*/
* {
  box-sizing: border-box;
}

header {
  background-color: White;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.46);
  position: fixed;
  width: 100%;
}

nav {
  margin-top: 0.5em;
  width: 100%;
  display: inline-block;
}

nav>ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav a {
  padding: 0 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #14A098;
}

nav a:visited {
  color: #14A098;
}

nav a:hover, nav a:focus, nav a:active {
  color: #0F292F;
  font-weight: 600;
}

.active {
  color: #0F292F;
  font-weight: 600;
}

main {
  padding-top: 106.47px;
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Archivo', sans-serif;
  font-size: 1.0em;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.25px;
  color: #4a4a4a;
}

/*Typography*/
h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.75em;
  letter-spacing: 0.75px;
  font-weight: 400;
  text-align: center;
}

.hero h1 span {
  display: block;
  margin-top: 0.5em;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 60%;
  font-weight: 100;
}

.intro h1 span {
  display: block;
  margin-top: 0.5em;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 60%;
  font-weight: 100;
}

h2 {
  font-family: 'Archivo Narrow', sans-serif;
  color: #0B5B56;
  font-size: 2.0em;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 500;
}

h3 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5em;
  padding-left: 10px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

h4 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

/* Logo */
@keyframes logo-move {
  from {
    transform: translate(1000px, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

.logo rect:nth-child(1) {
  animation-duration: 0.5s;
  animation-name: logo-move;
  animation-timing-function: linear;
}

.logo rect:nth-child(2) {
  animation-duration: 0.5s;
  animation-name: logo-move;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}

.logo rect:nth-child(4) {
  animation-duration: 0.5s;
  animation-name: logo-move;
  animation-timing-function: linear;
  animation-delay: 1s;
}

.logo rect:nth-child(3) {
  animation-duration: 0.5s;
  animation-name: logo-move;
  animation-timing-function: linear;
  animation-delay: 1.5s;
}

.logo {
  max-width: 10px;
  height: auto;
}

/* Images */
.myimage img {
  max-width: 300px;
}

.myimage {
  display: block;
  text-align: center;
}

.kate img {
  max-width: 500px;
}

.kate {
  display: block;
  text-align: center;
}

.persona img {
  max-width: 300px;
}

img {
  width: 100%;
}

.flow img {
  max-width: 180px;
}

.styleguide img {
  max-width: 200px;
}

.mockup img {
  max-width: 500px;
}

.mockup {
  display: block;
  text-align: center;
}

#evolution img {
  max-width: 150px;
}

#evolution img {
  display: block;
  text-align: center;
}

/* Links */
a:visited {
  color: #14A098;
}

a:hover,
a:focus {
  color: #0F292F;
  text-decoration: none;
}

a:active {
  color: #994c30;
}

/* Buttons styling*/
a.button {
  display: inline-block;
  color: #ffffff;
  background-color: #14A098;
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 30px;
  box-shadow: 1px 2px 6px #666666;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover,
.button:focus {
  opacity: 0.7;
}

.button:active {
  opacity: 0.8;
  color: #ffffff;
  background-color: #0B5B56;
}

.button.contact {
  background-color: #A7255B;
}

.button.contact:hover,
.button.contact:focus {
  opacity: 0.8;
}

.button.contact:active {
  opacity: 0.8;
  color: #ffffff;
  background-color: #501F31;
}

.center {
  text-align: center;
}

.social {
  display: inline-block;
  width: 100%;
  font-size: 2.0em;
  list-style-type: none;
  padding: 25px;
  color: #A7255B;
  text-align: center;
}

.social>a {
  padding: 12px;
}

.social>a:visited {
  color: #A7255B;
}

footer>div>h2 {
  color: #A7255B;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #0B5B56;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 85.875px;
  }

  .logo {
    max-width: 15px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%
  }

  .col-md-8 {
    width: 66.66%
  }

  .col-md-9 {
    width: 75%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #aboutme h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
