/*
Colors used:
Primary Color (emerald): rgba(20,160,152,1) #14A098;
Primary Color shade (emerald dark): rgba(11,91,86) #0B5B56
Secondary Color (fuchsia): rgba(203,45,111,1) #4CB2D6F
Secondary Color shade (dark-fuchsia): rgba(80,31,49,1) #501F31
Tertiary Color (darkness): rgba(15,41,47,1) #0F292F;
Grey: rgba(204,204,204,1) #cccccc
White: rgba(255,255,255,1) #ffffff
Black: rgba(0,0,0,1) #000000
*/
body {
  background-color: #ffffff;
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.25px;
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.75em;
  font-weight: 400;
  text-transform: uppercase
}

h2 {
  font-family: 'Archivo Narrow', sans-serif;
  color: #0B5B56;
  font-size: 2.25em;
  letter-spacing: 0.5px;
  font-weight: 700;
}

h3 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.75em;
  letter-spacing: 0.5px;
  font-weight: 400;
}

h4 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.logo {
  width: 24px;
  height: 50px;
}

a {
  color: #14A098;
  text-decoration: none;
}

a:visited {
  color: #14A098;
}

a:hover,
a:focus {
  color: #0F292F;
  text-decoration: underline;
}

a:active {
  color: #994c30;
}

/* buttons styling*/
.button {
  display: inline-block;
  background-color: transparent;
  color: #14A098;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #14A098;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  background-color: rgba(20, 160, 152, 0.3);
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  color: #ffffff;
  background-color: #0B5B56;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #CB2D6F;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #CB2D6F;
  text-decoration: none;
}

.button.contact:hover {
  background-color: rgba(203, 45, 111, 0.3);
  color: #501F31;
  text-decoration: none;
}

.button.contact:active {
  opacity: 0.8;
  color: #ffffff;
  background-color: #501F31;
  text-decoration: none;
}

.button.cv {
  background-color: transparent;
  color: #CB2D6F;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #CB2D6F;
  text-decoration: none;
}

.button.cv:hover {
  background-color: rgba(203, 45, 111, 0.3);
  color: #501F31;
  text-decoration: none;
}

.button.cv:active {
  opacity: 0.8;
  color: #ffffff;
  background-color: #501F31;
  text-decoration: none;
}
