/*Colors used:
Primary Color (emerald): rgba(20,160,152,1) #11847E;
164D59
Primary Color shade (emerald light): 1ACCC2
Primary Color shade (emerald super light): D2F9F7
Primary Color shade (emerald dark): rgba(11,91,86) #0B5B56
Secondary Color (fuchsia): rgba(203,45,111,1) #4CB2D6F
Secondary Color shade (dark-fuchsia): rgba(80,31,49,1) #501F31
Tertiary Color (darkness): rgba(15,41,47,1) #0F292F;
Grey: rgba(204,204,204,1) #cccccc
White: rgba(255,255,255,1) #ffffff
Black: rgba(0,0,0,1) #000000
*/
* {
  box-sizing: border-box;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(255, 255, 255);
  /* Fallback color */
  background-color: rgba(255, 255, 255, 1);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  background-color: #fff;
  top: 15px;
  right: 35px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

header {
  box-shadow: 0 0.1px 9px 0 rgba(50, 50, 50, 0.3);
  background-color: #f8f8f8;
  line-height: 0px;
  padding: 10px 0 4px;
  transition: all 2s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header.activebgr {
    background: #fff;
    box-shadow: 0 0.1px 9px 0 rgba(50, 50, 50, 0.3);
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: -10px;
  padding: 10px;
  font-size: 24px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  text-align: right;
  line-height: 1.6px;
  padding: 24px 0px 2px 0px;
}

.navtoggle.responsive li {
  display: block;
  padding: 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav {
  width: 100%;
  display: inline-block;
}

nav >ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

nav a {
  display: block;
  padding: 15px 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #164D59;
}

nav a:visited {}

nav a:hover, nav a:focus, nav a:active {
  color: #0F292F;
  font-weight: 600;
}

.active {
  color: #0F292F;
  font-weight: 600;
  text-decoration: none;
}

main {
  padding-top: 42px;
  width: 100%;
}

img {
  width: 100%;
}

body {
  background-color: #f8f8f8;
  font-family: 'Archivo', sans-serif;
  font-size: 1.0em;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.25px;
  color: #4a4a4a;
}

/*Typography*/
h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
  color: #164D59;
  font-size: 1.75em;
  text-align: left;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.intro h1 span {
  display: block;
  margin-top: 0.5em;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 60%;
  font-weight: 100;
}

.hero h1 span {
  display: block;
  margin-top: 0.5em;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 60%;
  font-weight: 100;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  letter-spacing: 0.75px;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5em;
  padding-left: 10px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.process h4 {
  padding-left: 26px;
}

.lg-heading {
  display: none;
}

.md-heading {
  text-align: center;
}

h4 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  padding-left: 10px;
}

.mt2 {
  margin-top: 2em;
}

/* Logo */
@keyframes logo-move {
  from {
    transform: translate(1000px, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

.logo rect:nth-child(1) {
  animation-duration: 1s;
  animation-name: logo-move;
  animation-timing-function: linear;
}

.logo rect:nth-child(2) {
  animation-duration: 1s;
  animation-name: logo-move;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}

.logo rect:nth-child(4) {
  animation-duration: 1s;
  animation-name: logo-move;
  animation-timing-function: linear;
  animation-delay: 1s;
}

.logo rect:nth-child(3) {
  animation-duration: 1s;
  animation-name: logo-move;
  animation-timing-function: linear;
  animation-delay: 1.5s;
}

.logo {
  max-width: 10px;
  height: auto;
}

@keyframes logo2-move {
  from {
    transform: translate(-30px, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

@keyframes logo3-move {
  from {
    transform: translate(-400px, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

.logo2 rect:nth-child(1) {
  animation-duration: 0.5s;
  animation-name: logo2-move;
  animation-timing-function: ease-in;
}

.logo2 path:nth-child(2) {
  animation-duration: 2s;
  animation-name: logo3-move;
  animation-timing-function: ease-in;
}

.logo2 path:nth-child(3) {
  animation-duration: 2s;
  animation-name: logo3-move;
  animation-timing-function: ease-in;
}

.logo2 path:nth-child(4) {
  animation-duration: 2s;
  animation-name: logo3-move;
  animation-timing-function: ease-in;
}

.logo2 {
  max-width: 12px;
  height: auto;
}

.logostatic {
  padding-left: 10px;
  max-width: 120px;
  height: auto;
}

/* Images */
.resize img {
  max-width: 300px;
}
.lg-resize img {
  max-width: 600px;
}
.round img {
  border-radius: 50%;
}

.resize {
  display: block;
  text-align: center;
}

.kate img {
  max-width: 500px;
}

.kate {
  display: block;
  text-align: center;
}

.persona img {
  max-width: 300px;
}

.column img {
  margin: 21px 0 0;
}

.column p {
  padding: 0 10px 10px;
}

img.flowimg {
  max-width: 180px;
}

.styleguide img {
  max-width: 200px;
}

.mockup img {
  max-width: 500px;
}

.mockup {
  display: block;
  text-align: center;
}

#evolution img {
  max-width: 250px;
  margin: 0.5em 0.5em 2em;
  border-radius: 7px;
  box-shadow: 3px 3px 6px #cccccc;
}

#evolution img {
  display: block;
  text-align: center;
}

#interviews img {
  max-width: 600px;
}

.evolution .row {
  display: flex;
  overflow: scroll;
}

.testing .row {
  display: flex;
  overflow: scroll;
}

#testingimg img {
  max-width: 250px;
  margin: 0.5em 0.5em 2em;
  border-radius: 7px;
  box-shadow: 3px 3px 6px #cccccc;
}

#testingimg img {
  display: block;
  text-align: center;
}

#process h3 {
  min-height: 69px;
}

#work h3 {
  padding-top: 0px;
}

/* Links */
a:visited {
  color: #164D59;
}

a {
  color: #164D59;
}

a:hover,
a:focus {
  color: #0F292F;
  text-decoration: none;
}

a:active {
  color: #994c30;
}

/* Buttons styling*/
a.button {
  display: inline-block;
  color: #ffffff;
  background-color: #164D59;
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 30px;
  box-shadow: 1px 2px 6px #666666;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover,
.button:focus {
  opacity: 0.7;
}

.button:active {
  opacity: 0.8;
  color: #ffffff;
  background-color: #0B5B56;
}

.button.contact {
  background-color: #A7255B;
}

.button.contact:hover,
.button.contact:focus {
  opacity: 0.8;
}

.button.contact:active {
  opacity: 0.8;
  color: #ffffff;
  background-color: #501F31;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #CB2D6F;
  /* Set a background color */
  opacity: 90%;
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px 40px;
  /* Some padding */
  border-radius: 30px;
  /* Rounded corners */
  font-size: 0.875em;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

.anchor {
  margin-top: -100px;
}

.anchorheading {
  margin-top: 40px;
}

.center {
  text-align: center;
}

.social {
  display: inline-block;
  width: 100%;
  font-size: 2.0em;
  list-style-type: none;
  padding: 25px;
  color: #A7255B;
  text-align: center;
}

.social >a {
  padding: 12px;
  color: #A7255B;
}

.social >a:visited {
  color: #A7255B;
}

footer >div >h2 {
  color: #A7255B;
}

footer >div>p>a {
  color: #A7255B;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  background-color: white;
  box-shadow: 0px 0.1px 9px 0px rgba(50, 50, 50, 0.10);
  border: 0.5px solid #ffffff;
  padding-bottom: 35px;
}
#work .container {

  padding-bottom: 25px;
}

#aboutme .row {
  background-color: white;
  box-shadow: 0px 0.1px 9px 0px rgba(50, 50, 50, 0.10);
  border: 0.5px solid #ffffff;
}
#aboutme .container {
  margin: auto;
max-width: 800px;
}
.intro .container {
  margin: auto;
max-width: 800px;
}
.intro .container {
  padding-bottom: 44px;
}
.intro {
  max-width: 1200px;
  margin: auto;
    border-bottom: 0.5px dotted #164D59;
}
.process .container {
  padding-bottom: 25px;
  border-bottom: 0.5px dotted #164D59;
}

.understand .container {
  padding-bottom: 25px;
  border-bottom: 0.5px dotted #164D59;
}

.define .container {
  padding-bottom: 25px;
  border-bottom: 0.5px dotted #164D59;
}

.prototype .container {
  padding-bottom: 25px;
  border-bottom: 0.5px dotted #164D59;
}

.testing .container {
  padding-bottom: 25px;
  border-bottom: 0.5px dotted #164D59;
}

.iterate .container {
  padding-bottom: 44px;
  border-bottom: 0.5px dotted #164D59;
}

.nextsteps .container {
  padding-bottom: 25px;
  border-bottom: 0.5px dotted #164D59;
}

.aboutme .container {
  padding-bottom: 25px;
}

#hero {
  padding: 20px 10px;
  display: inline-block;
  width: 100%;
}

#contact {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

#process h2 {
  padding: 10px 0 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  main p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  nav > ul > li {
    display: inline-block;
  }

  .logo2 {
    max-width: 15px;
    height: auto;
  }

  .logostatic {
    padding-left: 20px;
    max-width: 142px;
    height: auto;
  }

  .navtoggle.responsive nav {
    text-align: right;
    line-height: 1.6px;
    padding: 0px 0px 2px 0px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
  }

  nav >ul {
    margin: 0;
  }

  main {
    padding-top: 85.875px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: 66.66%
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .evolution .row {
    justify-content: space-around;
  }

  .testing .row {
    justify-content: space-around;
  }

  #process h4 {
    min-height: 54px;
  }

  #aboutme h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  main p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  main ol {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  main ul {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo2 {
    max-width: 20px;
    height: auto;
  }

  .logostatic {
    padding-left: 20px;
    max-width: 184px;
    height: auto;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .lg-heading {
    display: block;
  }

  .md-heading {
    display: none;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .evolution .row {
    justify-content: space-evenly;
  }

  .testing .row {
    justify-content: space-evenly;
  }

  #process h4 {
    min-height: 90px;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
